.NewProject__image {
  margin-top: 50px;
}

.NewProject {
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.NewProject__group {
  display: flex;
  flex-direction: column;
}

.NewProject__label {
  font-size: 18px;
  margin-bottom: 4px;
}

.NewProject__input {
  border: 1px solid #dadada;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding-left: 4px;
  transition: all 500ms ease;
  margin-bottom: 12px;
}

.NewProject__input:focus {
  outline: 0;
  border-color: #62cebe;
}

.NewProject__submit {
  background-color: #62cebe;
}
