.ProjectsNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

.ProjectsSearchBar__input {
  height: 32px;
  padding: 0 8px;
  margin: 0;
  border: 1px solid #3bd8ba;
  font-size: 14px;
  transition: all 500ms ease-in-out;
}

.ProjectsSearchBar__input:focus {
  outline: 0;
  border-color: #62cebe;
}

.ProjectsNav__link {
  background-color: #62cebe;
}

.ProjectsNav__link:hover {
  background-color: #3bd8ba;
}

.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.ProjectCard {
  border-radius: 3px;
  width: 360px;
  height: 240px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 500ms ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.ProjectCard:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ProjectCard__details {
  height: 30%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
}

.ProjectCard__details__name {
  color: white;
}
